#posts {

}

article {
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.block {
    padding-top: 70px;
    padding-bottom: 70px;
}

.grid {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-clip: content;
    /*-moz-background-clip: content;*/
    background-clip: content-box;
}

.btn.arrow-btn {
    padding-left: 1em;
    padding-right: 1em;
}

#paginator {
    border-top: 2px solid #f2f2f2;
    padding-top: 70px;
    padding-bottom: 70px;
}

@media screen and (min-width: 1200px){
    .grid {
        padding-left: 60px;
        padding-right: 60px;
    }
}