#footer-wrapper {
    display: table-row;
    height: 0;
}

#footer-cell {
    display: table-cell;
    position: relative;
    height: 0;
    z-index: 2;
    vertical-align: top;
}

#footer-cell>footer {
    margin-top: -1px;
    color: #fff;
    background-color: #2c3035;
}

.block {
    padding-top: 70px;
    padding-bottom: 70px;
}

