#header-wrapper {
    display: table-row;
    height: 0;
}

#header-cell {
    display: table-cell;
    position: relative;
    height: 0;
    z-index: 3;
    vertical-align: top;
}

header {
    background: #000000;
    min-width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}